*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}
.first-section{
  background: #4685c6;
  color: white;
}
.second-section{
  background: #2d6faa;
  color: white;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.candidate-role{
  color: #2c363f;
  font-size: 1.5rem;
  font-weight: 400;
}
.candidate-contact-info{
  color: white;
  font-size: 16px;
}
.candidate-contact-info ul{
  list-style: none;
}

a:link , a{
  color: white;
  text-decoration-line: none ;
}
a:hover{
  opacity: 0.8;
  color: white;
}
ul {
  margin-bottom: 0 !important;
}
.fa{
  font-size: 18px;
}
ul li{
  padding: 0.25rem;
  text-decoration-line: none ;
}
.clg-place, .work-place {
  margin-left: auto;
}
.candidate-info h2{
  font-size: 2.5rem;
  margin-bottom: 3px;
}
.candidate-overview{
  margin-top: 10px;
}
.education-main-title , .skills-title , .work-experience-title, .personal-project-title{
  text-decoration-line: underline;
  font-size: 25px;
  font-weight: 700;
}
.education-main-title ~ ul li , .skills-title ~ ul li , .work-experience-title ~ ul li ,.personal-project-title ~ ul li {
  list-style: none !important;
  padding-left: 0rem;
  padding-right: 0rem;
}
.education-main-title ~ ul ,  .skills-title ~ ul , .work-experience-title ~ ul  {
  padding-left: 0 !important; 
}
.education-title{
  font-size: 19.3px;
}
.eduction, .work-experience{
  padding-left: 0rem !important;
  margin-top: 10px;
}
.skill-list{
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  flex-wrap: wrap;
}
.work-experience, .personal-project{
  margin-top: 10px;
}
.company-points{
  padding-left: 0.9rem !important;
}
ul.company-points li {
  list-style: disc !important;
  font-size: 0.9rem;
}
.mr-0{
  margin-right: 0 !important;
}
.skill-list li {
  padding: 8px !important;
  background: #90b6dd;
  margin: 3.5px;
  color: white;
  border-radius: 5px;
  font-weight: 500;
}
.project-points{
  padding: 0.9rem !important;
  padding-top: 5px !important;
}
ul.project-points li {
  font-size: 0.975em;
  list-style: disc !important;
  padding: 0;
}
.porject-name{
  margin-top: 6px;
  font-weight: 500;
}